### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
./{context.value:right.one}
#Cache folder
./
#Symbols folder
.alpackages/definitions/etc
#Snapshots folder
.snapshots/
#Testing Output folder
.output/logic
#Extension App-file
*.lipa
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-file
*.*
#Test results file
TestResultslog.txt
